fastapi==0.111.0
starlette>=0.37.2,<0.38.0
uvicorn==0.29.0
gunicorn==22.0.0
pandas==2.2.2
xgboost==2.0.3
scikit-learn==1.4.2
imbalanced-learn==0.12.3
joblib==1.4.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
aiofiles==23.2.1
pymongo==4.7.2
python-dotenv==1.0.1
dnspython==2.6.1